# UI and Dashboard
streamlit

# Data Manipulation
pandas
openpyxl

# Visualization
plotly

# Machine Learning & NLP
transformers
torch
tokenizers
huggingface-hub

# Utilities
unicodedata2
